<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackathonfinale">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChartActivity"></activity>
        <activity android:name=".ProblemsEntityActivity" />
        <activity android:name=".ProblemDetailsActivity" />
        <activity android:name=".ProblemsIndividualActivity" />
        <activity
            android:name=".EntityActivity"
            android:label="@string/title_activity_entity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IndividualActivity"
            android:label="@string/title_activity_individual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginAndRegistrationActivity"
            android:label="@string/title_activity_login_and_registration"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>